body {
  background-color: rgb(143, 197, 187);
}

.navbar {
  background-color: #41B3A3;
}

.navbar-header {
  color: white;
  margin-top: 5px;
}

#nav-links a {
  color: white;
}

.forecast-option {
  color: white;
  background-color: #E27D60;
}

#weather {
  margin-top: 50px;
}

#submitBtn {
  margin-top: 10px;
}

#changeDayButtons {
  margin-top: 50px;
}

#currentForecast {
  display: block;
  margin-top: 25px;
}

#domIcon {
  width: 100px;
  height: 100px;
}

.scary {
  background-color: tomato;
  color: white;
}

.thumbnail {
  width: 30%;
  margin-left: 28px;
  margin-right: 28px;
}