#weather {
  margin-top: 50px;
}

#changeDayButtons {
  margin-top: 50px;
}

#currentForecast {
  display: block;
  margin-top: 25px;
}

#domIcon {
  width: 100px;
  height: 100px;
}

.white {fill:#FFFFFF}
.gray {fill:#E0E0E0}
.yellow {fill:#FFEB3B}